# railway.toml

[phases.setup]
# Tambahkan ekstensi PHP ZIP agar Spatie Simple Excel bisa jalan
nixPkgs = ["php82Extensions.zip"]

[phases.install]
cmds = [
  "composer install --no-dev --optimize-autoloader",
  "npm ci"
]

[phases.build]
cmds = [
  "npm run build",
  "php artisan config:cache",
  "php artisan route:cache",
  "php artisan view:cache"
]

[start]
cmd = "php artisan serve --host=0.0.0.0 --port=$PORT"
